{% extends "admin/base.html" %}

{% include "base.html" %}

{% load static %}

{% block title %}
  {% if site_title %}
    {{ title }} | {{ site_title|default:_('Django site admin') }}
  {% else %}
    {{ title }}
  {% endif %}
{% endblock %}

{#{% block extrastyle %}#}
{#  {{ block.super }}#}
{#  <link rel="stylesheet" type="text/css" href="{% static "css/admin/admin-extra.css" %}"/>#}
{#{% endblock %}#}

{% block branding %}
  <h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
