/*.breadcrumbs {*/
/*    margin-top: 64px;*/
/*}*/

.theme--dark .breadcrumbs {
    background: #404040;
}

.theme--light .breadcrumbs {
    background: #c8c8c8;
}

.breadcrumbs a {
    text-decoration: none;
}
