{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.2.20/dist/vuetify.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vue-snotify@3.2.1/styles/material.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="{% static 'css/base.css' %}" rel="stylesheet">
  <script src="https://kit.fontawesome.com/de3ef6798f.js" crossorigin="anonymous"></script>
  {% block head %}{% endblock %}
  {% block extrastyle %}{% endblock %}
  <title>🦊 Naila {% block title %}{% endblock %} 🐾</title>
</head>

<body>
<div id="app" v-cloak>
  <v-app>
    <!-- Header -->
    <v-app-bar app id="header">
      <v-app-bar-nav-icon
          @click.stop="sidebar = !sidebar"
          class="d-md-none"
      ></v-app-bar-nav-icon>
      <v-toolbar-title>
        <v-img
            style="cursor: context-menu"
            src="{% static "images/naila/nailatext 1.png" %}"
            max-width="140"
            max-height="50"
        >
        </v-img>
      </v-toolbar-title>
      <v-toolbar-items class="d-none d-md-flex">
        <v-btn
            text
            :href="link.url"
            v-for="link in navItems"
            :key="link.name"
        >
          [[ link.name ]]
        </v-btn>
        <v-menu offset-y>
          <template v-slot:activator="{ on }">
            <v-btn text v-on="on">
              Listing
            </v-btn>
          </template>
          <v-list>
            <v-list-item>
              <v-list-item-title>Bot Listing</v-list-item-title>
            </v-list-item>
            <v-list-item>
              <v-list-item-title>Guild Listing</v-list-item-title>
            </v-list-item>
            <v-list-item href="/banlist">
              <v-list-item-title>Ban Listing</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </v-toolbar-items>


      <v-spacer></v-spacer>
      {% if user.is_authenticated %}
        <v-toolbar-items>
          <v-menu offset-y>
            <template v-slot:activator="{ on }">
              <v-btn text v-on="on" class="discord-name">
                <v-avatar class="mr-3">
                  <v-img src="{{ avatar_url }}"></v-img>
                </v-avatar>
                {{ discord_username }}
              </v-btn>
            </template>
            <v-list>
              <v-subheader>Welcome, {{ discord_username }}</v-subheader>
              {% if user.is_staff %}
                <v-list-item href="/admin" color="info">
                  <v-list-item-title><span class="info--text">Admin Panel</span></v-list-item-title>
                </v-list-item>
              {% endif %}
              {#            <v-list-item href="{% url "profile" %}">#}
              {#              <v-list-item-title>Profile</v-list-item-title>#}
              {#            </v-list-item>#}
              <v-list-item href="/accounts/social/connections/">
                <v-list-item-title>Connected Accounts</v-list-item-title>
              </v-list-item>
              <v-list-item href="{% url "account_logout" %}" color="error">
                <v-list-item-title><span class="error--text">Log Out</span></v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </v-toolbar-items>
      {% else %}
        <v-toolbar-items>
          <v-btn
              color="#7289DA"
              href="{% provider_login_url 'discord' %}"
          >
            <i class="fab fa-discord fa-2x mr-3"></i> Login with Discord
          </v-btn>
        </v-toolbar-items>
      {% endif %}
    </v-app-bar>
    <!-- End Header -->

    <!-- Nav Drawer -->
    <v-navigation-drawer
        class="d-md-none"
        v-model="sidebar"
        disable-resize-watcher
        app
    >
      <v-list nav>
        <v-list-item
            v-for="link in navItems"
            :key="`sb${link.name}`"
            :href="link.url"
        >
          <v-list-item-content>
            <v-list-item-title>[[ link.name ]]</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-group class="nav-members">
          <template v-slot:activator>
            <v-list-item-title>Listing</v-list-item-title>
          </template>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title>Bot Listing</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title>Guild Listing</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title>Ban Listing</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-group>
      </v-list>
    </v-navigation-drawer>
    <!-- End Nav Drawer -->

    <!-- Content -->
    <v-main style="position: relative;">
      {% block nav_drawer %}{% endblock %}
      {% block content %}{% endblock %}
      <vue-snotify></vue-snotify>
    </v-main>
    <!-- End Content -->

    <!-- Footer -->
    {% block footer %}{% endblock %}
    <!-- End Footer -->
  </v-app>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2/dist/vuetify.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-snotify@3/vue-snotify.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1/dist/vue-resource.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
{% block scripts %}{% endblock %}
<script>
    const app = new Vue({
        delimiters: ["[[", "]]"],
        el: "#app",
        vuetify: new Vuetify({
            theme: {
                dark: true,
            },
        }),
        data: {
            sidebar: false,
            navItems: [
                {name: "Home", url: "{% url 'home' %}"},
            ],
            {% block data %}{% endblock %}
        },
        methods: {% block methods %}{}{% endblock %},
        watch: {% block watch %}{}{% endblock %},
        mounted() {% block mounted %}{}{% endblock %}
    });
</script>
</body>
</html>
